body {
    font-family: monospace;
    text-align: center;
}

li {
    list-style: none;
}

.choice {
    cursor:pointer;
    border: 1px solid black;
    width:500px;
    margin: 0 auto;
}

.choice:hover {
    background-color: antiquewhite;
}

.column {
    margin:10px;
}

.hide {
    display:none;
}

.high-score-list {
    display: flex;
    justify-content: center;
}

.wrapper {
    margin-top: 40px;
}